<fieldset>
  <legend>calculator</legend>

  <label for="">value 1 </label>
  <input type="number" [(ngModel)]="value1">
  <br>
  <label for="">value 2 </label>
  <input type="number" [(ngModel)]="value2">
  <br>
  <button (click)="plus()"> + </button>
  <button (click)="minus()"> - </button>
  <button (click)="multiplication()"> x </button>
  <button (click)="division()"> / </button>

  <p>result : {{ hasil }}</p>
</fieldset>
