<!-- One Way Binding -->
<label for=""> Server Name :</label>
<br>
<input type="text" (input)="onUpdateServerName($event)">
<br>
<button [disabled]="allowNewServer">add server</button>

<!-- <br> -->
<!-- <button [attr.disabled] = 'allowNewServer ? true : null'>remove server</button> -->


<!-- Event Binding -->
<hr>

<input type="text" [(ngModel)] = "serverName">
<button (click) = "onCreateServer()">server</button>
<p>{{ serverCreationMessage }}</p>

<!-- ngIf -->
  <!-- versi 17 kebawah -->
  <p *ngIf="serverCreated; else noServer">server was created, server name is {{ serverName }}</p>
  <ng-template #noServer>
    <p>No server was created</p>
  </ng-template>

  <!-- versi 17 keatas -->
  @if (serverCreated) {
    <p>server was created, server name is {{ serverName }}</p>
  } @else {
    <p>No server was created</p>
  }
<!-- ngIf -->


<!-- Two Way Binding -->
<hr>
<input type="text" [(ngModel)] = "serverName2">
<p>output serverName = {{ serverName2 }}</p>
<hr>


<!-- ngFor -->
  <!-- versi 17 kebawah -->
  <!-- <app-server *ngFor="let server of servers"></app-server> -->

  <!-- versi 17 keatas -->
  <!-- @for (server of servers; track $index) {
    <app-server></app-server>
    {{ server }}
  } -->
<!-- ngFor -->



<hr>
<fieldset>
  <legend>tugas - Databinding</legend>
  <input type="text" [(ngModel)] = "userName">
  <button [attr.disabled] = 'userName ? null : false' (click) = "emptyField()">reset</button>
  <p>username is {{ userName }}</p>
</fieldset>

