<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Data Variant</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Data Variant</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">

    <div class="card card-default">
      <!-- <div class="card-header">
        <h3 class="card-title">Data Product</h3>
      </div> -->
      <div class="card-body">
        <div class="m-2">
          <button type="button" class="btn btn-primary" data-toggle="collapse" (click)="onOpenModal(null,'add')"> add
            data
            variant</button>
        </div>
          <div class="col-12">
            <table id="example2" class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <td>No</td>
                  <td>Category Name</td>
                  <td>Variant Initial</td>
                  <td>Variant Name</td>
                  <td>Active</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                @for (varian of variant; track $index) {
                <tr>
                  <td class="text-center">{{ $index + 1 }}</td>
                  <td>{{ varian.category_name }}</td>
                  <td>{{ varian.variant_init }}</td>
                  <td>{{ varian.variant_name }}</td>
                  <td class="text-center">{{ varian.is_active }}</td>
                  <td class="text-center">
                    <button class="btn btn-default mr-2" (click)="onOpenModal(varian,'edit')">edit</button>
                    <button class="btn btn-default" (click)="onDelete(varian)">delete</button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="addVariantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Variant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addForm="ngForm" (ngSubmit)="onAddVariant(addForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Category Name</label>
            <select ngModel name="category_id" class="form-control">
              <option value=""></option>
              @for (cat of category; track $index) {
              <option value="{{ cat.id }}">{{ cat.category_name }}</option>
              }
            </select>
          </div>
          <div class="form-group">
            <label>Variant Initial</label>
            <input ngModel type="text" class="form-control" placeholder="Variant Initial" name="variant_init">
          </div>
          <div class="form-group">
            <label>Variant Name</label>
            <input ngModel type="text" class="form-control" placeholder="Variant Name" name="variant_name">
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input [ngModel]="false" type="checkbox" class="form-check-input" name="is_active">
              Active
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="addCloseModal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editVariantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #editForm="ngForm" (ngSubmit)="onUpdateVariant(editForm)">
        <div class="modal-body">
          <input type="hidden" ngModel="{{ dataVariant.id }}" name="id" readonly>
          <div class="form-group">
            <label>Category Name</label>
            <select class="form-control" name="category_id" [(ngModel)]="dataVariant.category_id">
              <!-- <option *ngFor="let cat of category" [value]="cat.id">{{cat.category_name}}</option> -->
              @for (cat of category; track $index) {
              <option [value]="cat.id">{{ cat.category_name }}</option>
              }
            </select>

          </div>
          <div class="form-group">
            <label>Variant Initial</label>
            <input ngModel="{{ dataVariant.variant_init }}" type="text" class="form-control"
              placeholder="Variant Initial" name="variant_init">
          </div>
          <div class="form-group">
            <label>Variant Name</label>
            <input ngModel="{{ dataVariant.variant_name }}" type="text" class="form-control" placeholder="Variant Name"
              name="variant_name">
          </div>
          <div class="form-group form-check">
            <input [ngModel]="dataVariant.is_active" type="checkbox" class="form-check-input" name="is_active">
            <label class="form-check-label">Active</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="editCloseModal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>
