p{
  background-color: aqua;
  border: 1px solid blue;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 200px;
}

.textSize{
  padding : 3px
}

.onlineCss{
  color: green;
}

.textWhite{
  color: white;
  padding: 1px;
}
