<p class="textSize">the server component</p>
<!-- String Interpolation -->
<p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{onlineCss : serverStatus === 'online'}">{{ 'server' }} with ID {{ serverId.toPrecision(2) }} is {{ getServerStatus() }}</p>

<hr>

<button (click) = "getContent()">Detail Tampilan</button>
<br>
@if (status) {
  <label for="">Secret Password is {{ konten }}</label>
}
<br>
<br>

 @for (ikan of ikans; track $index) {
    @if ($index >= 4) {
      <label [ngStyle]="{backgroundColor: 'blue'}" [ngClass]="{textWhite : $index >= 4}">{{ $index + 1 }}</label> <br>
    } @else {
      {{ $index + 1 }}<br>
    }
 }
