.navigasi {
  background-color: #333;
  text-align: center;
  height: 55px;
}
.navigasi ul {
  display: inline-block;
  margin: 0;
  list-style-type:none;
  display: inline;
}

.navigasi li {
  float: left;
}

.navigasi li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
}
