<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>App Component</h2>
      <hr>
      <!-- <fieldset>
        <legend>Tugas - Basic Component</legend>
        <app-warning-alert></app-warning-alert>
        <app-danger-alert></app-danger-alert>
      </fieldset> -->
      <!-- <app-server></app-server> -->
      <!-- <app-servers></app-servers> -->
      <app-calculator></app-calculator>
    </div>
  </div>
</div>
