<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Data Category</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Data Category</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">

    <div class="card card-default">
      <!-- <div class="card-header">
        <h3 class="card-title">Data Product</h3>
      </div> -->
      <div class="card-body">
        <div class="mb-3">
          <button type="button" class="btn btn-primary" data-toggle="collapse" (click)="onOpenModal(null,'add')"> tambah
            data
            category</button>
        </div>
        <div class="col-12">
          <table  id="example2" class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <td>No</td>
                <td>Category Initial</td>
                <td>Category Name</td>
                <td>Active</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              @for (cat of category; track $index) {
              <tr>
                <td class="text-center">{{ $index + 1 }}</td>
                <td>{{ cat.category_init }}</td>
                <td>{{ cat.category_name }}</td>
                <td class="text-center">{{ cat.is_active }}</td>
                <td class="text-center">
                  <button class="btn btn-default mr-2" (click)="onOpenModal(cat,'edit')">edit</button>
                  <button class="btn btn-default" (click)="onOpenModal(cat,'delete')">delete</button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addForm="ngForm" (ngSubmit)="onAddCategory(addForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Category Initial</label>
            <input ngModel type="text" class="form-control" placeholder="Category Initial" name="category_init">
          </div>
          <div class="form-group">
            <label>Category Name</label>
            <input ngModel type="text" class="form-control" placeholder="Category Name" name="category_name">
          </div>
          <div class="form-group form-check">
            <input [ngModel]="false" type="checkbox" class="form-check-input" name="is_active">
            <label class="form-check-label">Active</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="addCloseModal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #editForm="ngForm" (ngSubmit)="onEditCategory(editForm)">
        <div class="modal-body">
          <input type="hidden" ngModel="{{ editCategory.id }}" name="id" readonly>
          <div class="form-group">
            <label>Category Initial</label>
            <input ngModel="{{ editCategory.category_init }}" type="text" class="form-control"
              placeholder="Category Initial" name="category_init">
          </div>
          <div class="form-group">
            <label>Category Name</label>
            <input ngModel="{{ editCategory.category_name }}" type="text" class="form-control"
              placeholder="Category Name" name="category_name">
          </div>
          <div class="form-group form-check">
            <input [ngModel]="editCategory.is_active" type="checkbox" class="form-check-input" name="is_active">
            <label class="form-check-label">Active</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="editCloseModal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #deleteForm="ngForm" (ngSubmit)="onDeleteCategory(deleteForm)">
        <div class="modal-body">
          <input type="hidden" ngModel="{{ editCategory.id }}" name="id" readonly>
          <h5 for="">Are you sure you want to delete this?</h5>
          <style>
          </style>
          <table>
            <tr>
              <td>Category Initial</td>
              <td style="padding: 5px;">:</td>
              <td>{{ editCategory.category_init }}</td>
            </tr>
            <tr>
              <td>Category Name</td>
              <td style="padding: 5px;">:</td>
              <td>{{ editCategory.category_name }}</td>
            </tr>
            <tr>
              <td>Is Active</td>
              <td style="padding: 5px;">:</td>
              <td>{{ editCategory.is_active ? 'active' : 'not active' }}</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteCloseModal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>

    </div>
  </div>
</div>
