<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Data Product</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Data Product</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">

    <div class="card card-default">
      <!-- <div class="card-header">
        <h3 class="card-title">Data Product</h3>
      </div> -->
      <div class="card-body">
        <div class="m-2">
          <button type="button" class="btn btn-primary" data-toggle="collapse" (click)="onOpenModal(null,'add')">add
            data product</button>
        </div>
          <div class="col-12">
            <table id="example2" class="table table-bordered table-striped table-hover">
              <thead>
                <th>No</th>
                <th>Category / Variant</th>
                <th>Initial</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Active</th>
                <th>Action</th>
              </thead>
              <tbody>
                @for (product of products; track $index) {
                <tr>
                  <td>{{ $index + 1 }}</td>
                  <td>{{ product.category_name }}/ {{ product.variant_name }}</td>
                  <td>{{ product.productinit }}</td>
                  <td>{{ product.productname }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.stock }}</td>
                  <td>{{ product.isactive }}</td>
                  <td>
                    <button class="btn btn-default mr-2" (click)="onOpenModal(product,'edit')">edit</button>
                    <button class="btn btn-default" (click)="onDelete(product)">delete</button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
      </div>
    </div>


    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Category Name</label>
                    <select (change)="getVariantByCategory($event)" class="form-control">
                      <option value=""></option>
                      @for (cat of categories; track $index) {
                      <option [value]="cat.id">{{ cat.category_name }}</option>
                      }
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Variant Name</label>
                    <select ngModel name="variantid" class="form-control">
                      @for (variant of variants; track $index) {
                      <option value="{{ variant.id }}">{{ variant.variant_name }}</option>
                      }
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Product Initial</label>
                    <input ngModel type="text" class="form-control" placeholder="Product Initial" name="productinit">
                  </div>
                  <div class="form-group">
                    <label>Product Name</label>
                    <input ngModel type="text" class="form-control" placeholder="Product Name" name="productname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Description</label>
                    <!-- <input ngModel type="text" class="form-control" placeholder="Description" name="description"> -->
                    <textarea ngModel name="description" class="form-control" cols="30" rows="5"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Price</label>
                    <input ngModel type="number" class="form-control" placeholder="Price" name="price">
                  </div>
                  <div class="form-group">
                    <label>Stock</label>
                    <input ngModel type="number" class="form-control" placeholder="Stock" name="stock">
                  </div>
                  <div class="form-group form-check">
                    <!-- <label for=""></label> -->
                    <label class="form-check-label">
                      <input [ngModel]="false" type="checkbox" class="form-check-input" name="isactive">
                      Active
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="addCloseModal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>



    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form #editForm="ngForm" (ngSubmit)="onUpdateProduct(editForm)">
            <div class="modal-body">
              <input type="hidden" ngModel="{{ dataProduct.id }}" name="id" readonly>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Category Name</label>
                    <select class="form-control" (change)="getVariantByCategory($event)" name="category_id"
                      [(ngModel)]="dataProduct.category_id">
                      <option *ngFor="let cat of categories" [value]="cat.id">{{cat.category_name}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Variant Name</label>
                    <select name="variantid" class="form-control" [(ngModel)]="dataProduct.variantid">
                      @for (variant of variants; track $index) {
                      <option [value]="variant.id">{{ variant.variant_name }}</option>
                      }
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Product Initial</label>
                    <input ngModel="{{ dataProduct.productinit }}" type="text" class="form-control"
                      placeholder="Product Initial" name="productinit">
                  </div>
                  <div class="form-group">
                    <label>Product Name</label>
                    <input ngModel="{{ dataProduct.productname}}" type="text" class="form-control"
                      placeholder="Product Name" name="productname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Description</label>
                    <textarea ngModel="{{ dataProduct.description }}" name="description" class="form-control" cols="30"
                      rows="5"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Price</label>
                    <input ngModel="{{ dataProduct.price }}" type="number" class="form-control" placeholder="Price"
                      name="price">
                  </div>
                  <div class="form-group">
                    <label>Stock</label>
                    <input ngModel="{{ dataProduct.stock }}" type="number" class="form-control" placeholder="Stock"
                      name="stock">
                  </div>
                  <div class="form-group form-check">
                    <!-- <label for=""></label> -->
                    <label class="form-check-label">
                      <input [ngModel]="dataProduct.isactive" type="checkbox" class="form-check-input" name="isactive">
                      Active
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="editCloseModal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>

        </div>
      </div>
    </div>


  </div>
</section>
