<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Data Order</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Data Order</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">

    <div class="card card-default col-9">
      <div class="card-header">
        <div class="row p-0">
          <div class="col-6">
            <button type="button" class="btn btn-primary mr-2" (click)="showNewTrans()">{{ isShow ? 'show data order' : 'new transaction' }}</button>
          </div>
          <div class="col-6 text-right" id="actionOrder">
            <button type="button" class="btn btn-primary mr-2" (click)="onOpenModal('newOrder')">new order</button>
            <button type="button" class="btn btn-primary" (click)="onOpenModal('payment')"
              [disabled]="listItem.length == 0 ? true : false">payment</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="order-table">
          <table class="table">
            <thead>
              <th>No</th>
              <th>Reference</th>
              <th>Amount</th>
              <th class="text-center">Active</th>
              <th class="text-center">Detail</th>
            </thead>
            <tbody>
              @for (item of orderHeader; track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ item.reference  }}</td>
                <td>{{ item.amount * 1 }}</td>
                <td class="text-center">{{ item.is_active }}</td>
                <td class="text-center">
                  <a type="button" class="btn btn-sm btn-primary" (click)="showDataOrder(item.id,'detail')"><i
                      class="fa fa-info-circle"></i></a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div id="order-detail-table">
          <button type="button" class="btn btn-outline-secondary btn-sm col-4 float-right mb-2" (click)="showDataOrder(null,'header')"><i class="fa fa-arrow-alt-circle-left"></i> back</button>

          <table class="table">
            <thead>
              <th>No</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Qantity</th>
              <th>Amount</th>
            </thead>
            <tbody>
              @for (item of orderDetail; track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ item.productname }}</td>
                <td>{{ item.price * 1}}</td>
                <td>{{ item.quantity * 1 }}</td>
                <td>{{ item.price * item.quantity }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div id="transaction-table">
          <fieldset class="actionDisabled">
            <div class="col-12 m-0 p-0">
              <table class="table">
                <thead>
                  <th>No</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th class="text-center">Remove</th>
                </thead>
                <tbody>
                  @for (detail of listItem; track $index) {
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td><input type="text" class="form-control" ngModel="{{ detail.productname }}" readonly></td>
                    <td><input type="number" class="form-control" ngModel="{{ detail.price }}" readonly></td>
                    <td><input type="number" class="form-control" [(ngModel)]="detail.quantity" name="quantity" min="1">
                    </td>
                    <td><input type="text" class="form-control" [value]="calculateAmount(detail)" readonly></td>
                    <td class="text-center">
                      <a type="button" class="btn btn-sm btn-danger" (click)="removeItemOrder($index)"><i
                          class="fa fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  }
                  <tr>
                    <td colspan="3" class="text-center text-bold pt-3">total</td>
                    <td><input type="number" class="form-control" [value]="sumQuantity(listItem)" readonly></td>
                    <td><input type="number" class="form-control" [value]="totalAmount(listItem)" readonly></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="modal-new-order">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select New Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <fieldset class="actionDisabled">
          <form #searchForm="ngForm" (ngSubmit)="onSearchProduct(searchForm)">
            <div class="row pl-2">
              <div class="col-6 mb-2">
                <div class="row">
                  <div class="col-9">
                    <input type="text" ngModel class="form-control" placeholder="Search..." name="searchName"
                      autocomplete="off">
                  </div>
                  <div class="col-3">
                    <select ngModel name="searchPerPage" class="form-control" (change)="page = 1">
                      <option selected>5</option>
                      <option>10</option>
                      <option>25</option>
                    </select>
                    <input type="hidden" [(ngModel)]="page === 0 ? 1 : page" name="searchPage" class="form-control" min="1">
                  </div>
                </div>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-success" id="search"> search</button>
              </div>
            </div>
          </form>
          <div class="col-12 scroll">
            <table class="table">
              <thead>
                <th>select</th>
                <th>Initial</th>
                <th>Name / Description</th>
                <th class="text-center">Price</th>
                <th class="text-center">Stock</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of products; index as i">
                  <td>
                    <a class="btn btn-success btn-sm" (click)="selectItemOrder(item)">
                      <i class="fa fa-plus-circle"></i>
                    </a>
                  </td>
                  <td>{{ item.productinit }}</td>
                  <td>{{ item.productname }} / {{ item.description }}</td>
                  <td class="text-right">{{ item.price * 1 }}</td>
                  <td class="text-center">{{ item.stock * 1 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row m-0 p-0">
            <div class="col-6">
              <h6 class="pt-3">Showing {{ totalData }} entries data</h6>
            </div>
            <div class="col-6">
              <nav aria-label="Page navigation example">
                <ul class="pagination float-right mt-1 p-0">
                  <li class="page-item" (click)="actionPagination('','prev')"><a class="page-link" disabled>Previous</a></li>
                  @for(page of totalPages; track $index){
                    <li class="page-item" (click)="actionPagination($index +  1,'in')"><a class="page-link">{{ $index +  1 }}</a></li>
                  }
                  <li class="page-item" (click)="actionPagination('','next')"><a class="page-link">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-payment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Reference</label>
            <input type="text" class="form-control" [value]="reference" readonly>
          </div>
          <div class="form-group">
            <label for="">Amount</label>
            <input type="number" class="form-control" [value]="totalAmount(listItem)" readonly>
          </div>
          <div class="form-group">
            <label for="">Pay Money</label>
            <input type="number" class="form-control actionDisabled" [(ngModel)]="money" name="money">
          </div>
          <div class="form-group">
            <label for="">Change</label>
            <input type="number" class="form-control" [value]="money - totalAmount(listItem)" readonly>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success actionDisabled" (click)="orderPayment()"> pay</button>
        </div>
      </form>
    </div>
  </div>
</div>
