table thead {
  background-color: #6C757D;
  color: white;
}

table thead tr {
  font-weight: bold;
  text-align: center;
}

.scroll{
  overflow:auto;
  height:435px;
}


.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
  /* border-radius: 10px; */
}

.scroll::-webkit-scrollbar-thumb {
  background: rgb(193, 193, 193);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}
